apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: mzahid22/serverkubersmallmultiarch:1.0.1
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
